body {
    text-align: center;
}
body {
    background-color: DBDFAC;
}
body 
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
header {
    background-color: 84D2F6
}
#active {
    background-color: white;
    color: steelblue;
}
nav a:hover {
    background-color: black;
    color: 93032E
}
footer {
    background-color: 84D2F6;
    color: black

}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: black
}